.section-fotos-blog-loop {
    //.pl-section-pad {
        //padding-left:15px;
        //padding-right:15px;
        //.box-sizing(border-box);
   // }

    .fotos-article {
        padding:0 0 15px;
        margin:1.8em auto;

        &:first-of-type{
            margin-top:0;
        }

        &:last-of-type {
            margin-bottom:0;
        }

        .fotos-entry-title {
            margin:0;
        }
    }
}
