.section-fotos-blog-loop {
    .pl-section-pad {
        padding-left:15px;
        padding-right:15px;
        .box-sizing(border-box);
    }

    .fotos-article {
        padding:0 0 15px;
        margin-bottom:1.5em;
    }
}
