.section-fotos-contact{

    &.collapse.in {
        border-bottom:1px solid @baseContrast;
    }

    .fotos-contact-msg{
        height: 100px;
    }
    .fotos-contact-input{
        width: 49%;
    }
    .fotos-contact-email{
        float: right;
    }
    .fotos-contact-custom{
        margin-top: 10px;
        width: 100%;
    }
    form{
        margin: 20px auto;
    }
    .fotos-contact-response{
        margin-bottom: 1em;
        display: none;
    }
}
.fotos-contact-pointer{
    cursor:pointer;
}