.section-fotos-post-header {
    .pl-section-pad {
        background:@pl-base;
        padding-left:15px;
        padding-right:15px;
        .box-sizing(border-box);
    }
    &.fotos-post-header-title-left {

    }
    &.fotos-post-header-title-right {
        .fotos-entry-title-wrap {
            float: right;
            margin-right:0;
        }
        .fotos-entry-meta-wrap {
            float: left;
            margin-left:0;
        }
    }
    &.fotos-post-header-title-center {
        .fotos-entry-title-wrap,
        .fotos-entry-meta-wrap {
            margin-left:0;
            margin-right:0;
            text-align: center;
        }
    }
}

.fotos {
    .fotos-entry-title-wrap,
    .fotos-entry-meta-wrap {
        margin-bottom:0;
    }
}

.fotos-entry-title {
    margin:10px 0 0;
}

.fotos-entry-meta-wrap {
    text-align: right;
    font-size:14px;

    .fotos-entry-date,
    .fotos-entry-cats {
        margin:30px 0 0;
        display: inline-block;
    }

    .fotos-entry-date {

    }
    .fotos-entry-cats {

    }
}